body {
background-color: rgb(255, 255, 255);
}
.parrafo {
      color:darkgreen;
      background-color:azure;
}

#parrafoUnico {
    color:rgb(125, 33, 167)
}

#contenedor1 {
    width: 50vw;
    height: 80vh;
    border: 1px solid black;
    margin: 15px;
    position: relative;
}

#contenedor2 {
    width: 50vw;
    height: 80vh;
    border: 1px solid black;
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.cuadrado {
    width: 25%;
    height: 25%;
    background-color: rgb(124, 238, 200);
    border: 1px solid black;
    position: absolute;

}

#cuadro1 {
    top:0%;
    left: 0%;

}

#cuadro2 {
    top:25%;
    left: 25%;
    
}

#cuadro3 {
    top:50%;
    left: 50%;

}

.cuadradow {
    width: 25%;
    height: 25%;
    background-color: rgb(124, 238, 200);
    border: 1px solid black;

}